<a href="https://colab.research.google.com/github/S48avio/Neural-Networks/blob/main/Customer_Churn_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [138]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("rjmanoj/credit-card-customer-churn-prediction")

print("Path to dataset files:", path)

Using Colab cache for faster access to the 'credit-card-customer-churn-prediction' dataset.
Path to dataset files: /kaggle/input/credit-card-customer-churn-prediction

In [139]:
import pandas as pd
df=pd.read_csv('/kaggle/input/credit-card-customer-churn-prediction/Churn_Modelling.csv')

In [140]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [141]:
df.shape

(10000, 14)

In [142]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [143]:
df.duplicated().sum()

np.int64(0)

In [144]:
df['Exited'].value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64

In [145]:
df['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [146]:
df['Gender'].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [147]:
df=df.iloc[:,3:]
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [148]:
df=pd.get_dummies(df,columns=['Geography','Gender'],drop_first=True)

df['Geography_Germany']=df['Geography_Germany'].replace(True,1)

df['Geography_Germany']=df['Geography_Germany'].replace(False,0)

df['Geography_Spain']=df['Geography_Spain'].replace(True,1)

df['Geography_Spain']=df['Geography_Spain'].replace(False,0)

df['Gender_Male']=df['Gender_Male'].replace(True,1)

df['Gender_Male']=df['Gender_Male'].replace(False,0)

/tmp/ipython-input-239254464.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Geography_Germany']=df['Geography_Germany'].replace(False,0)
/tmp/ipython-input-239254464.py:9: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Geography_Spain']=df['Geography_Spain'].replace(False,0)
/tmp/ipython-input-239254464.py:13: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Gender_Male']=df['Gender_Male'].replace(False,0)

In [149]:
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0,0

In [150]:
X=df.drop(['Exited'],axis=1)
y=df['Exited']


X.shape

(10000, 11)

In [151]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [152]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,y,test_size=0.2,random_state=1)

In [153]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [154]:
X_train

array([[-0.23082038, -0.94449979, -0.70174202, ...,  1.71490137,
        -0.57273139,  0.91509065],
       [-0.25150912, -0.94449979, -0.35520275, ..., -0.58312392,
        -0.57273139, -1.09278791],
       [-0.3963303 ,  0.77498705,  0.33787579, ...,  1.71490137,
        -0.57273139, -1.09278791],
       ...,
       [ 0.22433188,  0.58393295,  1.3774936 , ..., -0.58312392,
        -0.57273139, -1.09278791],
       [ 0.13123255,  0.01077067,  1.03095433, ..., -0.58312392,
        -0.57273139, -1.09278791],
       [ 1.1656695 ,  0.29735181,  0.33787579, ...,  1.71490137,
        -0.57273139,  0.91509065]])

In [155]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [156]:
model = Sequential()
model.add(Dense(10,activation='relu',input_dim=11))
model.add(Dense(10,activation='relu'))

model.add(Dense(1,activation='sigmoid'))

/usr/local/lib/python3.12/dist-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [157]:
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_2 (Dense)                 │ (None, 10)             │           120 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 10)             │           110 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 1)              │            11 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 241 (964.00 B)

 Trainable params: 241 (964.00 B)

 Non-trainable params: 0 (0.00 B)

In [158]:
model.compile(optimizer='Adam',loss='binary_crossentropy')

In [159]:
model.fit(X_train,Y_train,epochs=10)

Epoch 1/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.5896
Epoch 2/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4588
Epoch 3/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.4269
Epoch 4/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.4233
Epoch 5/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.4020
Epoch 6/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.3864
Epoch 7/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.3636
Epoch 8/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.3701
Epoch 9/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.3529
Epoch 10/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.3469

In [160]:
model.layers[0].get_weights()

[array([[-0.31032392,  0.5301908 , -0.35160023, -0.10216007,  0.11334746,
         -0.34870467, -0.2696133 ,  0.07993013,  0.39545918,  0.14509362],
        [-0.08032942,  0.17033817,  0.13264076,  0.153361  , -0.8027816 ,
          0.25698784, -0.5182675 ,  0.3899645 ,  0.18266657,  0.22268912],
        [-0.17011479, -0.5931946 , -0.06824929,  0.034713  ,  0.03411672,
          0.36368206,  0.03004827,  0.40811017,  0.04345817,  0.17219535],
        [-0.16210939, -0.5109423 , -0.19991906, -0.4979181 , -0.06177418,
         -0.20486955, -0.26495937, -0.21816002, -0.00897108,  0.17197123],
        [ 0.8296901 , -0.07122733,  0.6503809 , -1.0418159 , -0.06834237,
         -0.14531377, -0.02501658,  0.2115282 , -0.56093556,  1.072707  ],
        [ 0.12813064,  0.28658026,  0.04223467,  0.04458572, -0.2382504 ,
          0.33813992,  0.20662987,  0.16371213, -0.16776697,  0.15253986],
        [-0.09480879, -0.10645819, -0.36065313, -0.2047767 , -0.06121746,
          0.70075613, -0.35441577,  0.660055  , -0.19746806, -0.05770399],
        [ 0.27798328,  0.26624462, -0.06759258,  0.18699002, -0.12670244,
         -0.24605216,  0.17559995,  0.07078074, -0.44801998,  0.10064518],
        [ 0.16220441,  0.00716034,  0.24499941,  0.16845475, -0.05096187,
          0.4955012 , -0.08654848, -0.3831085 ,  0.25947186, -0.24275942],
        [ 0.25931427, -0.09255479,  0.00449519,  0.08620362, -0.31656045,
          0.19248852,  0.26600465,  0.13704374, -0.37457716,  0.17404172],
        [ 0.22970729,  0.17576136,  0.28710657, -0.02939319,  0.2579215 ,
         -0.12092829, -0.05773393,  0.11328159,  0.18403655, -0.27937564]],
       dtype=float32),
 array([ 0.02038914,  0.36232305, -0.07488823, -0.01838263,  0.5965626 ,
         0.23386319,  0.33269283,  0.20908016, -0.13277689, -0.31724012],
       dtype=float32)]

In [161]:
model.layers[1].get_weights()

[array([[ 0.543209  , -0.3883104 ,  0.18388617, -0.61029947, -0.1141451 ,
         -0.2600078 , -0.1206363 , -0.08832233,  0.3979423 ,  0.19679463],
        [-0.2489891 ,  0.5510412 ,  0.15223984, -0.33333966,  0.5150135 ,
          0.17769183,  0.2994859 , -0.4367331 ,  0.15789168,  0.41202888],
        [ 0.4710442 ,  0.10282402, -0.12958741,  0.2860401 ,  0.4479595 ,
         -0.2584159 ,  0.24742639,  0.30934316, -0.03780896, -0.46515602],
        [-0.27276585,  0.14994216,  0.36051422,  0.42651877,  0.94357836,
         -0.4119897 , -0.5041556 ,  0.46918193, -0.5845362 ,  0.11907516],
        [-0.19202685,  0.6569682 , -0.4203722 ,  0.34700626, -0.5046607 ,
          0.4259661 ,  0.4286365 ,  0.00604671,  0.04704651,  0.24406362],
        [-0.4178332 ,  0.16254194, -0.5842334 ,  0.02762157,  0.15259284,
          0.33449423,  0.11651938,  0.3704497 ,  0.05272605,  0.28699985],
        [-0.70711774,  0.21457087, -0.38140762, -0.48237687, -0.24454726,
          0.31102845, -0.11748408,  0.27661943,  0.547404  , -0.37670222],
        [ 0.14453022,  0.4499443 , -0.07758833, -0.4116757 , -0.24555527,
          0.35594425, -0.30908415, -0.4228189 ,  0.4655494 ,  0.5909487 ],
        [-0.5102463 , -0.41325417, -0.2992522 , -0.4675177 ,  0.28873056,
          0.00978245, -0.29055712, -0.72566754, -0.05232877,  0.14008798],
        [ 0.5418209 , -0.08028498, -0.30752817, -0.46158326,  0.30478376,
          0.09378438, -0.12809259,  0.60170186, -0.36850694,  0.36638367]],
       dtype=float32),
 array([-0.2030839 ,  0.33234018,  0.08652951, -0.17243513, -0.06346329,
         0.23579559,  0.43941513, -0.12388932,  0.41088426,  0.20987315],
       dtype=float32)]

In [162]:
z=model.predict(X_test)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

In [163]:
import numpy as np
y_predi=np.where(z>0.5,1,0)

In [164]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test,y_predi)

0.861